/* styles.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  color: #05eeff;
  text-align: center;
  background: rgb(140, 137, 192);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  padding: 10px 0;
}

main {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.riddle {
  text-align: center;
}

.choices {
  list-style: none;
  padding: 0;
}

.choices li {
  margin: 10px 0;
}

button {
  padding: 10px 20px;
  background-color: #00bcd4;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #00189e;
}

#nextButton{
  margin: auto;
} 
#resetButton{
  margin-bottom: 15px;
}

#result {
  font-weight: bold;
  margin-top: 20px;
}
